@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --card-BG:rgb(255, 255, 255);
    --primary-color:rgb(238,27,36);
    --secondary-color:rgb(117,117,117);
    --hover-color:rgba(238,27,36,0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* card */
.card-container{
    /* border: 1px solid black; */
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    gap: 0.4rem;
    border-radius: 0.4rem;
    background-color: var(--card-BG);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

}
/* card top section */
.card-top-section{
display: flex;
gap: 1rem;
align-items: center;

}
/* image */
.image-box{
    height: 110px;
    width: 110px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    /* border: 2px solid black; */
}

/* card details */
.card-details{
    font-size: 0.7rem;
}

.card-details h2{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    color: var(--secondary-color);
}
/* bottom section */
.card-bottom-section, .card-action-buttons, .card-action-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-bottom-section{
    justify-content: space-between;
}


/* card action buttons */
.card-action-buttons{
    padding-left: 0.6rem;
}
.card-action-buttons a{
    text-decoration: none;
    padding: .5rem;
    font-weight:600;
    color: var(--primary-color);
    border-radius: 0.5rem;
}
/* card action icons */
.card-action-icons{
    padding-right: 1rem;
    gap:2rem;
}
.card-action-icons div{
    height: 2rem;
    width: 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card action icon hover */

.card-action-icons div:hover{
    background-color: var(--hover-color);
    border-radius: 50%;
}

/* card action button hover*/
.card-action-buttons a:hover{
    background-color: var(--hover-color);
}


/* ----------------------------------------------- */

/* second card */
/* card2 container */
.card2-container{
    width:21.875rem;
    text-align: left;
    background: var(--card-BG);
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

}
/* card 2 text */
.card2-container,h1,h2,p {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}
/* card title*/
.card2-container h1{
    font-size: 22px;
    margin-top: .7rem;
}
/* card2 subtitle */
.card2-container h2{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}
/* card2 details */
.card2-container p {
    font-size: 0.9rem;
    padding: 0.2rem;
}

/* card 2 image */
.card2-container img{
    width: 21.875rem;
    height: 12.305rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
   
}

/* ------------------------------------------- */
/* card3 */
.card3-container{
    width: 21.875rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    gap: 0.4rem;
    border-radius: 0.4rem;
    text-align: left;
    background-color: var(--card-BG);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

/* card title*/
.card3-container h1{
    font-size: 22px;
    margin-top: .7rem;
}
/* card2 subtitle */
.card3-container h2{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.card3-container p {
    font-size: 0.9rem;
    padding: 0.2rem;
}

